@import "@/styles/settings.module.scss";


.cardItem {
  width: 386px;
  list-style: none;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  li {
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: #F7F9FD;
      cursor: pointer;
    }

    input[type='checkbox'] {
      width: 24px;
      height: 24px;
    }
  }


  .tasksChecked {
    text-decoration: line-through;
  }


  @media screen and (max-width: 700px) {
    width: calc(386px - 30vw);
  }
}